# 1.Find missing numbers

In [5]:
a=[1,3,5,6,7,9,10]
mina=min(a)
maxa=max(a)
minmax=range(mina,maxa)
final=set(minmax)-set(a)
print(sorted(final))

[2, 4, 8]

# 2.Calaculate sum of numbers from 1 to n

In [6]:
#method1
n=int(input())
s=0
for i in range(1,n+1):
    s=s+i
print(s)

100
5050

In [7]:
#method2
n=int(input())
a=range(1,n+1)
b=sum(a)
print(b)

100
5050

# 3.Reverse of a string

In [8]:
a=input()
print(a[::-1])

jay
yaj

# 4.palindrome or not

In [9]:
a=input()
if a==a[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

mam
Palindrome

# 5.Factorial of a number

In [10]:
n=int(input())
f=1
for i in range(1,n+1):
    f=f*i
print(f)

5
120

# 6.Amstrong number or not

In [11]:
n=int(input())
l=len(str(n))
temp=n
s=0
while temp>0:
    num=temp%10
    s=s+pow(num,l)
    temp=temp//10
if s==n:
    print("Amstrong number")
else:
    print("Not Amstrong number")

153
Amstrong number

# 7.prime number or not

In [25]:
n=int(input())
if n>1:
    for i in range(2,n):
        if n%i==0:
            print("not prime")
            break
    else:
        print("prime")
else:
    print("not prime")

101
prime

# 8.Print prime numbers from 1 to 100

In [26]:
n=100
for i in range(2,n+1):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# 9.swap two numbers

In [27]:
#with temp variable
a=5
b=3
temp=a
a=b
b=temp
print(a,b)

3 5

In [29]:
#without temp variable
a=3
b=2
a=a+b
b=a-b
a=a-b
print(a,b)

2 3

# 10.Reverse of a number

In [31]:
n=int(input())
a=str(n)
b=a[::-1]
print(b)

12
21

# 11.Factors of a number

In [36]:
n=int(input())
for i in range(1,n+1):
    if n%i==0:
        print(i)

100
1
2
4
5
10
20
25
50
100

# 12.matching characters of a string

In [38]:
a="jaya"
b=[]
for i in a:
    if a.count(i)>1:
        b.append(i)
print(set(b))

{'a'}

# 13.find count of repeated characters in a string

In [43]:
a='karthika'
for i in a:
    print(i,a.count(i))

k 2
a 2
r 1
t 1
h 1
i 1
k 2
a 2

# 13.replace character with other character in a string

In [44]:
a='jaya'
b=a.replace('a','z')
print(b)

jzyz

# 14.fibonaacii sequence

In [47]:
n=int(input())
n1=0
n2=1
count=0
while count<n:
    print(n1)
    next=n1+n2
    n1=n2
    n2=next
    count=count+1

10
0
1
1
2
3
5
8
13
21
34

# 15.print vowles and consonets of a string

In [58]:
a='dhanush'
l=['a','e','i','o','u']
v=[]
c=[]
for i in a:
    if i in l:
        v.append(i)
    else:
        c.append(i)
print('vcount',len(v))
print('ccount',len(c))

vcount 2
ccount 5

# 16.Anagrams or not

In [60]:
a=input()
b=input()
if sorted(a)==sorted(b):
    print("anagrams")
else:
    print("not anagrams")

silent
listen
anagrams

# 17.calaculate numerial digits in a string

In [65]:
a='dhanush143'
l=[]
for i in a:
    if i.isdigit()==True:
        l.append(i)
print(len(l))

3

# 18.determine smallest,largest and second largest elements of array which is not sorted

In [67]:
a=[12,22,11,35,15,7,60]
b=sorted(a)
print(b[0],b[-1],b[-2])

7 60 35

# 19.delete repeated elements in a array

In [69]:
#method1 
a=[1,2,2,3,1,4]
print(set(a))

{1, 2, 3, 4}

In [70]:
#method2
a=['1','2','2','3','1','4']
b=[]
for i in a:
    if i not in b:
        b.append(i)
print(b)

['1', '2', '3', '4']

# 20.Print the first character of a string that is not repeated

In [75]:
a='jajya'
for i in a:
    if a.count(i)==1:
        print(i)
        break

y