### 1.print the second element of each nested array inside the above list.

In [4]:
List=[(1,'a'),(2,'b'),(3,'c')]
for i in List:
    print(i[1])

a
b
c

### 2.Create a dataframe using name,age and city as columns using a dictionary and then insert 'Zabda' in name.make the first letter of each word inside name to upper case.

In [23]:
import pandas as pd
#creating data frame
data={'name':['jaya','karuna','dhanush'],'age':[24,23,24],'city':['hyderabad','Bangolore','Mumbai']}
df=pd.DataFrame(data)
#print(df)
#insert zabda in name 
df=df.append({'name':'Zabda','age':'None','city':'None'},ignore_index=True)
#print(df)
#making first letter as uppercase
df['name']=(df['name'].str.capitalize())
print(df)

      name   age       city
0     Jaya    24  hyderabad
1   Karuna    23  Bangolore
2  Dhanush    24     Mumbai
3    Zabda  None       None

C:\Users\Zabda\AppData\Local\Temp\ipykernel_16428\128877841.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append({'name':'Zabda','age':'None','city':'None'},ignore_index=True)

In [24]:
#3.Is it possible to insert value into tuple.? If yes,how?
#no because tuples are immutable and can't change . if we want to change then change data type of tuple to list .

## 4.Create a new list with swapped items inside the tuples

In [34]:
List=[(1,2),('a','b'),(10,20)]
newlist=[[i[1],i[0]] for i in List]
print(newlist)

[[2, 1], ['b', 'a'], [20, 10]]

## 5.Write a python script to add all the prime numbers between 1 to 100.

In [37]:
n=100
s=0
for i in range(2,n):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        s=s+i
print(s)

1060

## 6.Remove trailing whitespaces in:

In [38]:
string = '             Raj Kumar is a student         '
print(string.rstrip())

             Raj Kumar is a student

## 7.Write a code to check whether a numerical dataset in palindrome or not.

In [44]:
a=input()
if a==a[::-1]:
    print("Palindrome number")
else:
    print("Not Palindrome number")

121
Palindrome number

## 8.Write a python script to count the number of capital letters in the below string:

In [46]:
input_string = "This is A BaSic PyThon TEST which will heLP yoU for COding RounDS."
a=['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
b=[]
for i in input_string:
    if i in a:
        b.append(i)
print(len(b))

18

## 9.Than swap the uppercase to lower and vice versa for the above input string.

In [47]:
input_string = "This is A BaSic PyThon TEST which will heLP yoU for COding RounDS."
print(input_string.swapcase())

tHIS IS a bAsIC pYtHON test WHICH WILL HElp YOu FOR coDING rOUNds.

## 10.Implement a function called frequency_counter that takes a string as input and returns a dictionary containing the frequency count of each unique character in the string.Ignore spaces and consider case sensitivity.

In [78]:
def frequency_counter(input_string):
    b={}
    for i in input_string:
        if i!=' ':
            if i in b:
                b[i]=b[i]+1
            else:
                b[i]=1
    print(b)
input_string='jaya is good girl'
result=frequency_counter(input_string)

{'j': 1, 'a': 2, 'y': 1, 'i': 2, 's': 1, 'g': 2, 'o': 2, 'd': 1, 'r': 1, 'l': 1}

## 11.swap dictionary keys and values to values and keys

In [79]:
d={'a':1,'b':2}
b=dict([values,keys] for keys,values in d.items())
print(b)

{1: 'a', 2: 'b'}

## 12.select items in list and remove items from list

In [84]:
a=[1,2,'apple']
print(a[-1])
print(a.pop(-1))

apple
apple